/* * {
  cursor: url(../public/SVG/Risorsa\ 1.svg), auto;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
a {
  cursor: url(../public/SVG/Risorsa\ 1.svg), pointer;
} */
* {
  font-family: "Montserrat", sans-serif;
}
.profile-container {
  height: 760px ;
  display: flex;
  justify-content: center;
  
  
}
.profile-card {
  padding: 20px;
  height: 620px;
  border-radius: 15px;
}
